<div class="container">
<div class=about>
    <h2><u>Quotes of the Day</u></h2>
    <br>

    <P>This is a Twitter-bot that collects a random image from <a href="https://pixabay.com/" >Pixabay</a>, <br>gets a random quotes from <a href="http://www.quotzzy.co/" >quotzzy.com</a>, resizes the Image and writes the quotes on it and posts the image with quotes written on to <a href='https://twitter.com/@chitraMCTC'>@QuoteOfTheDay</a>.</p>
</div>
<br>
<div>
   <img src="images/WebPageImage.jpg">
    <br>
    <a href="https://cdn.pixabay.com/user/2013/11/05/02-10-23-764_250x250.jpg">Picture-Url</a>
    @user:<a href="https://pixabay.com/en/users/Josch13-48777/">Josch13</a>
</div>
</div>